<?xml version="1.0" encoding="utf-8"?>
<Project xmlns="http://schemas.postsharp.org/1.0/configuration" 
         xmlns:d="clr-namespace:PostSharp.Patterns.Diagnostics;assembly:PostSharp.Patterns.Diagnostics" 
         xmlns:p="http://schemas.postsharp.org/1.0/configuration">
  <License Value="110435-ZUULMQQQZTQETBQCWZBBWTQWK2EQZCAFS2EXY7JFUC9X3TKCS28UX7HR68KQZEGFA29RN7DVF6ZTZCBN8WYBPG65LDJ9V8SWQ4NDXE8JUUELV9WLLN3VG5PA7W2MLGLA6GPQWBPS66MWMSQQBT32GP2"/>
  <Property Name="SolutionWideProcessingEnabled" Value="false" />
</Project>